
<div class="modal-header">
    <h5>使用合作网站授权登陆</h5>
</div>
<div class="modal-body">
    <p class="pam">
        <a href= "/oauth/login?state=/m/build/index.html">
            <img src="assets/img/sina-connect-32.png"/>
        </a>
    </p>
    <p class="pam">
        <a href= "/oauth/loginqq?state=/m/build/index.html">
            <img src="assets/img/qq-connect-32.png"/>
        </a>
    </p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="$close()">关闭</button>
    <!--<button class="btn btn-warning" ng-click="$dismiss('a dismiss')">Cancel</button>-->
</div>