
@import 'variables';
@import "mixinx";


body,ul,li {
  padding:0;
  margin:0;
  border:0;
}

body {
  font-size:12px;
  -webkit-user-select:none;
  -webkit-text-size-adjust:none;
  font-family:helvetica;
}

#header {
  .fixbar;
  top: 0; left: 0;
}

.card {
  position:absolute; z-index:1;
  top:@headerHeight; bottom:@footerHeight; left: 0px;
  width:100%;
//  background:#aaa;
  overflow:auto;
}

#footer {
  .fixbar(@footerHeight);
  bottom:0; left:0;
}

@import "../common/scroll/scroll";
@import "../app/home/home";
@import "../../vendor/angular-mobile-nav/mobile-nav.css";
//@import "transition";
