


//@import '../../vendor/bootstrap/less/mixins.less';
//@import '../../vendor/bootstrap/less/reset.less';
//@import '../../vendor/bootstrap/less/utilities.less';
//@import '../../vendor/bootstrap/less/scaffolding.less';
//@import '../../vendor/bootstrap/less/type.less';
//@import '../../vendor/bootstrap/less/grid.less';
//@import '../../vendor/bootstrap/less/layouts.less';
//@import '../../vendor/bootstrap/less/navs.less';
//@import '../../vendor/bootstrap/less/navbar.less';
//@import '../../vendor/bootstrap/less/buttons.less';
//@import '../../vendor/bootstrap/less/button-groups.less';
//@import '../../vendor/bootstrap/less/dropdowns.less';
//@import "../../vendor/bootstrap/less/forms";

@import "../../vendor/font-awesome/less/font-awesome";
@import "../../vendor/flat-ui/less/flat-ui";

@import "type";
@import "utilities";
@import "transition";
@import "modals";

html, body, .viewport{
  .user-select(none);
  .backface-visibility(hidden);
  margin: 0;
  padding: 0;
  position: relative;
  height:100%;
  overflow: hidden;
}

a{
  color:#f3f3f3;
  text-decoration:none;
  font-weight:bold;
  text-shadow:0 -1px 0 rgba(0,0,0,0.5);
}

.header{
  .fixbar();
  color:#eee;
}

.container{
  position: absolute;
  width: 100%;
  top:@headerHeight;
  bottom: @footerHeight;
  left: 0;
}
.content{
  position: absolute;
  width: 100%;
}



ul {
  list-style:none;
  padding:0;
  margin:0;
  width:100%;
  text-align:left;
}

li {
  .phm;
  .pvs;
  height:110px;
  border-bottom:1px solid #ccc;
//  border-top:1px solid #ccc;
  background-color:#fafafa;
  font-size:14px;
}


@-webkit-keyframes loading {
  from { -webkit-transform:rotate(0deg) translateZ(0); }
  to { -webkit-transform:rotate(360deg) translateZ(0); }
}

.pull{
  height:40px;
  line-height:40px;
  padding:5px 10px;
  font-weight:bold;
  font-size:14px;
  color:#888;
  text-align: center;
  &.pullDown{
    border-bottom:1px solid #ccc;
  }
  &.pullUp{
//    border-top:1px solid #ccc;
  }
}
.pullIcon{
  display:block; float:left;
  width:40px; height:40px;
  background:url(pull-icon@2x.png) 0 0 no-repeat;
  -webkit-background-size:40px 80px; background-size:40px 80px;
  -webkit-transition-property:-webkit-transform;
  -webkit-transition-duration:250ms;
  &.pullDown{
    &.flip{
      -webkit-transform:rotate(-180deg)
    }
  }
  &.pullUp{
    display:none;
  }
  &.loading{
    display:block;
    background-position:0 100%;
    -webkit-transform:rotate(0deg);
    -webkit-transition-duration:0ms;
    .animation(loading 2s linear 0 infinite);
  }
}


.btn{
  display: inline-block;
  padding: @btn-padding-v @btn-padding-h;
  line-height: @btn-line-height;
}

.form-main{
  .mhm;
  .pbm;
  >div{
    .pvm;
  }
}

//.viewport {
//  .ng-enter{
//    .transition(all 1s ease-in-out);
//    .transform(translate3d(100%, 0, 0));
//    &.ng-enter-active{
//      opacity: 1;
//      .transform(translate3d(0, 0, 0));
//    }
//  }
//  .ng-leave{
//    .transition(all 1s ease-in-out);
//    opacity: 1;
//    &.ng-leave-active{
//      opacity: 0;
//    }
//  }
//}

@import "../app/home/home";
@import "../app/detail/detail";
