
<div jqm-page allow-same-view-animation>
    <div class="card">
        <div class="clearfix">
            <div>
                <img ng-src="{{e.image.base}}{{e.image.thumbnail2}}"/>
            </div>
            <div>

            </div>
        </div>
        <p>{{e.description}}</p>
        <ul ng-init=''>
            <li ng-repeat="u in e.attendees">
                <a>
                   {{ u.name}}
                </a>
            </li>
        </ul>
        <ul ng-init=''>
            <li ng-repeat="c in e.comment_set">
                <a>
                    {{ c.body}}
                </a>
            </li>
        </ul>
        <ul ng-init=''>
            <li ng-repeat="img in e.album">
                <a>
                    <img ng-src="{{img.base}}{{img.thumbnail2}}">
                </a>
            </li>
        </ul>
    </div>
</div>