<!DOCTYPE html>
<html ng-app="front" ng-controller="AppCtrl">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="format-detection" content="telephone=no" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

    <title>Front</title>

    <% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" />
	<% }); %>

    <% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
	<% }); %>

  </head>
  <body>
  <div class="container-fluid">

  <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
          <a class="brand"></a>
          <ul class="nav">
              <li class="active"><a href="#">首页</a></li>
              <li class="divider-vertical"></li>
              <li><a href="#">地点</a></li>
              <li class="divider-vertical"></li>
              <li><a href="#">相册</a></li>
          </ul>
      </div>
  </div>

  <div ui-view="main">
      Loading...
  </div>

  <div class="navbar navbar-fixed-bottom">
      <div class="navbar-inner">
          <a class="brand"></a>
          <ul class="nav">
              <li class="active"><a href="#">首页</a></li>
              <li class="divider-vertical"></li>
              <li><a href="#">地点</a></li>
              <li class="divider-vertical"></li>
              <li><a href="#">相册</a></li>
          </ul>
      </div>
  </div>

  </div>
  <script>
      console.log(new Date());
  </script>
  </body>
</html>
