
<div jqm-page>
    <div id="wrapper" class="card">
        <div id="scroller">
        <div id="pullDown" data-flip="松开即可刷新..." data-load="加载中...">
            <span class="pullDownIcon"></span><span class="pullDownLabel">下拉可以刷新...</span>
        </div>
        <ul id="thelist" ng-init='list = [ "已取消　", "未知状态", "即将开始", "正在进行", "已经结束"]'>

            <li class="clearfix" ng-repeat="e in objects" ng-click="onDetail(e)">
                <a>
                <div class="list-thumb">
                    <img ng-src="{{e.image.base}}{{e.image.thumbnail2}}"/>
                </div>
                <div class="list-info">
                   <span>{{e.title}}</span>
                    <span class="event_attr event_ca">
                    类别：{{e.ca}}
                    </span>
                    <span class="event_attr event_time">
                    时间：{{e.start_time| date:'MM月dd日 HH:mm'}}
                    </span>
                    <span class="event_attr event_avenue">地点：{{e.avenue}}</span>
                </div>
                <div class="list-meta">
                   <span>{{list[e.status+1]}}</span>
                </div>
                </a>
            </li>
        </ul>
        <div id="pullUp" class="idle" ng-click="more()">
            <span class="pullUpIcon"></span><span class="pullUpLabel">加载更多...</span>
        </div>
        </div>
    </div>
</div>