
.list-thumb{
  float: left;
//  width: 10% !important;
//  width:expression(this.width > 600 ? "600px" : this.width)!important;
//  max-width: 100px;
//  overflow: hidden;
}

.list-info{
  float: left;
  span{
    display: block;
    line-height: 150%;
  }
}

.list-meta{
  float: right;
}